html, body {
    margin: 0;
    min-height: 100%;
}

body {
    position: relative; /* needed for the overlay to extend when you scroll */
    /* general styles */
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f1c40f;
    color: #fff;
}

/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 200px;
    height: 300px;
    position: fixed;
    top: 120px;
    left: 170px;
    margin-top: -100px;
    margin-left: -150px;
    background-color: rgba(120,120,120,0.5);
    border-radius: 5px;
    z-index: 11; /* 1px higher than the overlay layer */
}

.content {
    margin: 0;
}

.modalinner {
    position: fixed;
    text-align: center;
}
